<style>
    .right-content{
        padding-top:54px!important; padding-left:0!important; width:970px!important;
    }
    .shotsMain{margin-bottom: 10px;}
</style>
<div class="content">
<!-- left nav start -->
    <% include leftBar.html %>
<!-- left nav end -->
<!-- right content start -->
<div class="right-content myTalents-underReview">
        <div class="pageInfo">Download Mobile App</div>
        <div id="tabs-container">
            <ul class="tabs-menu">
    <a href=""><li class="Auditing current"><img src="<%=public_path%>/img/downloadPage/andriod_icon.png"><span>ANDROID</span></li></a>
</ul> 
        </div>

        <div class="shotsMain">

            <div class="downloadTitle">How to download the CharmLive app ?</div>
            <div class="downloadMain">
                   <div class="download-left"> 
                   <div class="download-title">1.Download via QR code</div>
                   <div class="download-desc">
                       Scan the code below with your Android phone
                    </div>
                       <div class="download-qrcodeimg">
                            <img style="width: 128px; height: 128px;" src="<%=public_path%>/img/downloadPage/qrcode102.png">
                       </div>
                   </div>
                   <div class="download-right"> 
                    <div class="download-title">2.Download to computer</div>
                    <div class="download-desc">
                       Click the button below to start download
                    </div>
                    <div class="download-desc">
                       After download is completed, connect your phone to the computer via a USB cable, and copy the APK file to your phone.
                    </div>

                    <a class="downloadBtn" href="https://www.charmlive.com:443/public/file/charmlive_anchor_1.0.2.apk">Download</a>



                   </div>
                <div style="clear:both"></div>
            </div>
            
        </div>

<br /><br />


        <div class="shotsMain">
            <div class="downloadTitle">How to install the app on my phone ?</div>

            
            <div class="downloadMain">
                Open the APK file, and follow the instructions as shown below to complete the installation.
                
                <div class="screenshot">
                    <div class="appshot"><img src="<%=public_path%>/img/downloadPage/p1.png"></div>
                    <div class="app_arrow"></div>
                    <div class="appshot"><img src="<%=public_path%>/img/downloadPage/p2.png"></div>
                    <div class="app_arrow"></div>
                    <div class="appshot"><img src="<%=public_path%>/img/downloadPage/p3.png"></div>
                    <div class="app_arrow"></div>
                    <div class="appshot"><img src="<%=public_path%>/img/downloadPage/p4.png"></div>
                </div>
                <div style="clear:both"></div>
            </div>
            
        </div>

</div>


<!-- right content end -->




</div>
