<style>
    .right-content{
        padding-top:54px!important; padding-left:0!important; width:970px!important;
    }
    .CoverPiece{position: absolute; left: 0px; top: 0px; overflow: hidden; width: 182px; filter: alpha(Opacity=0); -moz-opacity: 0; opacity: 0;}
    .CoverInput{float: left; height:30px; margin-left: -69px;}
</style>
<div class="content">
    <% include leftBar.html %>
    <!-- right content start -->
    <div class="right-content myProfile" style="min-height: 700px;">
        <div class="pageInfo">My Profile</div>
        <div id="tabs-container">
            <div class="profile-pic">
                <img src="<%if(checkAvatar){%><%=checkAvatar%><%}else{%><%=userInfo.avatar_img%><%}%>" style="width: 180px; height: 180px;" alt=""/>
            </div>
            <div class="profile-info">
                <div class="editPasswordBlock" >
                    <div class="editPasswordtitle">Change password</div>
                    <div class="editPassword">
                        <div class="editPasswordLeft">Current password:</div>
                        <input class="editPasswordInput" type="password" name="password">
                    </div>
                    <div class="editPassword">
                        <div class="editPasswordLeft">New password:</div>
                        <input class="editPasswordInput" type="password" name="newPassword">
                    </div>
                    <div class="editPassword">
                        <div class="editPasswordLeft">Repeat password:</div>
                        <input class="editPasswordInput" type="password" name="repeatPassword">
                    </div>
                    <div class="cursor editPasswordSave">Save</div>
                </div>
            </div>
        </div>
    </div>
    <!-- right content end -->
</div>

<script>
    $(function(){
        $('.editPasswordSave').click(function(){
            var password = $('input[name="password"]').val();
            var newPassword = $('input[name="newPassword"]').val();
            var repeatPassword = $('input[name="repeatPassword"]').val();
            if(!password){
                myParentAlert('Please enter your current password.');
                return false;
            }
            if(!newPassword){
                myParentAlert('Please enter your new password.');
                return false;
            }
            if(newPassword.length < 6){
                myParentAlert('Your new password cannot be less than 6 characters.');
                return false;
            }
            if(newPassword.length > 32){
                myParentAlert('Your new password can not be longer than 32 characters.');
                return false;
            }
            if(!repeatPassword){
                myParentAlert('Please enter repeat password.');
                return false;
            }
            if(newPassword !== repeatPassword){
                myParentAlert('Repeat password does not match your new password.');
                return false;
            }
            $.post('/broadcast/editPasswordAjax',{password:password,newPassword:newPassword,repeatPassword:repeatPassword},function(data){
                if(data.errno == 0){
                    parent.layer.confirm(data.data, {
                        btn:'OK',
                        title:'',
                        btnAlign:'c',
                        closeBtn: 0,
                        shadeClose:true,
                        shade:0.01
                    }, function(){
                        window.location.href = '/broadcast/profile';
                    });
                }else{
                    myParentAlert(data.data);
                }

            })
        })
    })
</script>
