<style>
    .right-content{
        padding-top:54px!important; padding-left:0!important; width:970px!important;
    }
    .terms{font-size: 20px; font-weight: 400; color: #333333; text-align: center; margin-top: 20px; margin-bottom: 35px;}
    .termsTitle{font-weight: 700; font-size: 13px; color: #333333; text-decoration:underline; margin-bottom: 15px;}
    .termsBody {margin-bottom: 20px;}
    .termsBody p{font-weight: 400; font-size: 13px; color: #333333; text-align: left; margin-bottom: 15px;}
</style>
<div class="content">
    <% include termsLeftBar.html %>
    <!-- right content start -->
    <div class="right-content" >
        <div class="pageInfo">Terms and Policies</div>
        <div style="width: 900px; margin: 0px auto;">
            <div class="terms">Broadcaster Code of Conduct</div>
            <div class="termsBody">
                <p>The aim of the Agency Code of Conduct is to standardize the regulation of the Live service exchange platform, and to protect service quality and user experience on the platform. As the platform service provider, the broadcaster assumes full responsibility for all content between live broadcasts. In the course of providing services, the principles stated in this Code of Conduct must be strictly followed, and any prohibited acts prevented.</p>

                <p>The following acts are prohibited:</p>
                <p>1. Violating the convention and contents of the existing laws and regulations, including, but not limited to:<br>
                    a) Spreading violence or terror, or instigation of crime;<br>
                    b) Showing, performing or disseminating any drug-related content;<br>
                    c) Spreading rumors, disturbing social order and undermining the content of social stability.</p>

                <p>2. Broadcasts that are life or health threatening in nature, including, but not limited to:<br>
                    a) Performing highly dangerous acts using cutlery, replicated cutlery, guns or replicated guns;<br>
                    b) Acts endangering the safety of others;<br>
                    c) Acts harming their own personal safety;<br>
                    d) Acts harming the life of animals.</p>

                <p>3. Broadcasts of discriminatory nature, including, but not limited to:<br>
                    a) Discrimination against race, religion, sex, age, etc.;<br>
                    b) Speaking of national or territorial aggression;<br>
                    c) Malicious attacks on human behavior.</p>

                <p>4. Violating the legitimate rights and interests of others, including, but not limited to:<br>
                    a) Infringing the privacy of others;<br>
                    b) Imitating the media, television, journalists or other entities;<br>
                    c) Stealing the contents of intellectual property rights of others;<br>
                    d) Insulting or slandering others.</p>

                <p>5. Fraudulent acts, including, but not limited to:<br>
                    a) Asking viewers for property or property assistance;<br>
                    b) Providing false or misleading information;<br>
                    c) Concealing the truth.<br>
                    </p>
                <p>
                    6. Broadcasts containing pornography, including, but not limited to:<br>
                    a) Exposure of any sexual organs;<br>
                    b) Improper or exposed wear;<br>
                    c) Sexually-suggestive or provocative behavior,<br>
                    d) sexual language;<br>
                    e) Suggesting sexual services.
                </p>

                <p>
                    7. Exchange of contact information, including, but not limited to<br>
                    a) Providing personal contact or social account information;<br>
                    b) Asking viewers for personal contact or social account information.
                </p>

                <p>
                    8. Infringement of legitimate rights and interests of the platform, including, but not limited to:<br>
                    a) Promoting other platforms in the same industry or encouraging viewers to watch non-platform content;<br>
                    b) Using the platform to obtain illegal benefits;<br>
                    c) Publishing commercials or engaging in other profitable activities;<br>
                    d) Slandering or damaging the platform’s image.
                </p>

                <p>
                    9. Undesirable acts, including, but not limited to:<br>
                    a) Hanging up abruptly, recording and playing broadcasts, not actively interacting with viewers;<br>
                    b) Engaging in activities unrelated to the broadcast;<br>
                    c) Intentionally refreshing the page or disrupting normal operation of service;<br>
                    d) Other undesirable acts, including sleeping, giving abuse, smoking, drinking alcohol or appearing drunk, etc.
                </p>

                <p>
                    10. Other prohibited acts:<br>
                    a) Registration of duplicate accounts;<br>
                    b) Simultaneous broadcasting on other platforms;<br>
                    c) Impersonating others;<br>
                    d) Allowing others to broadcast using your account.
                </p>

                <p>
                    In the event of a breach of this Code of Conduct, the site may, depending on the severity of the offense, give oral or written warning to the agency, deem the broadcast containing prohibited acts as invalid, limit functions, suspend or permanently block accounts, deduct commissions and/or security deposits as well as give fines and give other penalties. In extremely serious cases, the site may proceed with further economic claims or legal accountability.
                </p>

                <p>
                    This Code of Conduct will take effect immediately from the date of publishing. This site has the right to revise the Code of Conduct from time to time in the course of its operation and the revised clauses will take effect immediately after release on the site. If you continue to use the platform after revision, you accept and are willing to follow the revised terms.
                </p>

                <p>
                    November 14, 2017
                </p>
            </div>
        </div>
    </div>
    <!-- right content end -->
</div>

