.alert-tips {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6)
}

.alert-tips .alert-wrap {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
    background: #fff;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.alert-tips .alert-msg {
    font-size: 14px;
    padding: .8rem .26666667rem;
    text-align: center
}

@media screen and (min-width: 320px) {
    .alert-tips .alert-msg {
        font-size: 12px
    }
}

@media screen and (min-width: 360px) {
    .alert-tips .alert-msg {
        font-size: 13px
    }
}

@media screen and (min-width: 375px) {
    .alert-tips .alert-msg {
        font-size: 14px
    }
}

@media screen and (min-width: 414px) {
    .alert-tips .alert-msg {
        font-size: 15px
    }
}

@media screen and (min-width: 640px) {
    .alert-tips .alert-msg {
        font-size: 24px
    }
}

@media screen and (min-width: 750px) {
    .alert-tips .alert-msg {
        font-size: 28px
    }
}

.alert-tips .btn-confirm {
    display: block;
    border-top: 1px solid #e0e0e0;
    line-height: 3;
    text-align: center;
    color: #009EF2;
    text-decoration: none;
    font-size: 14px
}

@media screen and (min-width: 320px) {
    .alert-tips .btn-confirm {
        font-size: 12px
    }
}

@media screen and (min-width: 360px) {
    .alert-tips .btn-confirm {
        font-size: 13px
    }
}

@media screen and (min-width: 375px) {
    .alert-tips .btn-confirm {
        font-size: 14px
    }
}

@media screen and (min-width: 414px) {
    .alert-tips .btn-confirm {
        font-size: 15px
    }
}

@media screen and (min-width: 640px) {
    .alert-tips .btn-confirm {
        font-size: 24px
    }
}

@media screen and (min-width: 750px) {
    .alert-tips .btn-confirm {
        font-size: 28px
    }
}

.confirm-tips {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6)
}

.confirm-tips .confirm-wrap {
    position: absolute;
    top: 50%;
    left: 15%;
    width: 70%;
    background: #fff;
    -moz-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.confirm-tips .confirm-msg {
    padding: .8rem .26666667rem;
    text-align: center;
    font-size: 14px
}

@media screen and (min-width: 320px) {
    .confirm-tips .confirm-msg {
        font-size: 12px
    }
}

@media screen and (min-width: 360px) {
    .confirm-tips .confirm-msg {
        font-size: 13px
    }
}

@media screen and (min-width: 375px) {
    .confirm-tips .confirm-msg {
        font-size: 14px
    }
}

@media screen and (min-width: 414px) {
    .confirm-tips .confirm-msg {
        font-size: 15px
    }
}

@media screen and (min-width: 640px) {
    .confirm-tips .confirm-msg {
        font-size: 24px
    }
}

@media screen and (min-width: 750px) {
    .confirm-tips .confirm-msg {
        font-size: 28px
    }
}

.confirm-tips .confirm-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    border-top: 1px solid #e0e0e0;
    font-size: 14px
}

@media screen and (min-width: 320px) {
    .confirm-tips .confirm-btn {
        font-size: 12px
    }
}

@media screen and (min-width: 360px) {
    .confirm-tips .confirm-btn {
        font-size: 13px
    }
}

@media screen and (min-width: 375px) {
    .confirm-tips .confirm-btn {
        font-size: 14px
    }
}

@media screen and (min-width: 414px) {
    .confirm-tips .confirm-btn {
        font-size: 15px
    }
}

@media screen and (min-width: 640px) {
    .confirm-tips .confirm-btn {
        font-size: 24px
    }
}

@media screen and (min-width: 750px) {
    .confirm-tips .confirm-btn {
        font-size: 28px
    }
}

.confirm-tips .confirm-btn .btn-l, .confirm-tips .confirm-btn .btn-r {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 3;
    text-decoration: none;
    text-align: center
}

.confirm-tips .confirm-btn .btn-r {
    color: #ef6e2b;
    border-left: 1px solid #e0e0e0
}

.confirm-tips .confirm-btn .btn-l {
    color: inherit
}

.pop-tips {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8) url("../images/pop.png") no-repeat 2.3rem top;
    -moz-background-size: 4.79rem 2.05rem;
    background-size:4.79rem 2.05rem
}

.pop-success {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top:50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    padding: 0.2rem;
    color: #fff;
    font-size: 0.32rem;
    border-radius: 0.08rem;
    background: rgba(0, 0, 0, 0.8);
    -moz-background-size: 6.13333333rem 5.12rem;
    background-size: 6.13333333rem 5.12rem
}