html,body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    background-color: #ffc70b;
    display: flex;
    min-height: 100%;
    padding-bottom: 0.32rem;
}
.content{
    width: 6.96rem;
    background-color: #fff;
    color: #fff;
    font-size: 0.24rem;
    border-radius: 0.24rem;
    margin: 0 auto;
    margin-top: 0.32rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.content>span{
    width: 100%;
    height: 0.8rem;
    border-bottom: 0.01rem solid #FFF4CE;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: #B97B3E;
}
.content>span:nth-child(1){
    color: #B97B3E;
    background-color: #FFF4CE;
}
