.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.tabbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: .3rem;
    justify-content: center;
    color: #666;
    background-color: #fafafa;
    height: .8rem;
    line-height: .8rem;
    position: relative;
    z-index: 1
}

.tabbar>span:nth-child(2) {
    margin-left: .4rem
}

#tabbar-bottom {
    width: .46rem;
    height: .04rem;
    border-radius: .04rem;
    background-color: #1a1a1a;
    position: absolute;
    bottom: .1rem;
    left: 37%;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out
}

.active {
    font-size: .34rem;
    color: #1a1a1a
}

.active0 {
    left: 37% !important
}

.active1 {
    left: 58% !important
}

@keyframes active0 {
    0% {
        width: .46rem
    }
    50% {
        width: .8rem
    }
    100% {
        left: 37%;
        width: .46rem
    }
}

@keyframes active1 {
    0% {
        width: .46rem
    }
    50% {
        width: .8rem
    }
    100% {
        left: 58%;
        width: .46rem
    }
}

.swiper-container {
    width: 100%
}

.swiper-slide {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: .2rem
}

.banner {
    width: 7.32rem;
    height: 4.21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff
}

.banner1 {
    background: url(../images/lv.png) no-repeat;
    background-size: 100% 100%
}

.banner2 {
    background: url(../images/cl.png) no-repeat;
    background-size: 100% 100%
}

.banner>p:nth-child(1) {
    font-size: .35rem;
    font-weight: 700;
    margin: 2.1rem 0 .7rem 0
}

.banner>p:nth-child(2) {
    font-size: .24rem
}

.content-title {
    width: 2.43rem;
    height: .4rem;
    margin: .75rem 0 .7rem 0
}

.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center
}
.content>span{
    width: 33.33%;
     text-align: center;
}
.content img {
    width: 1.18rem;
    height: 2.27rem;
    margin: 0 auto;
}

.lv-tips {
    width: 5.43rem;
    height: 1.3rem;
    margin-top: 1rem
}

.cl-tips {
    width: 4.83rem;
    height: 1.3rem;
    margin-top: 1rem
}

.lv-content1,.lv-content2 {
    display: none;
}
