<link rel="stylesheet" href="<%=public_path%>/css/layer.css">
<link rel="stylesheet" href="<%=public_path%>/js/webuploader/webuploader.css">
<link rel="stylesheet" href="<%=public_path%>/js/cropper/cropper.css">
<script src="<%=public_path%>/js/jquery.js"></script>
<script src="<%=public_path%>/js/webuploader/webuploader.nolog.min.js"></script>
<script src="<%=public_path%>/js/layer/layer.js"></script>
<script src="<%=public_path%>/js/js.cookie.js"></script>
<script src="<%=public_path%>/js/jquery.md5.js"></script>
<script src="<%=public_path%>/js/main.js"></script>
<script src="<%=public_path%>/js/cropper/cropper.js"></script>
<style>
    body {font-family: 'Arial Normal', 'Arial'; font-size: 13px; margin: 0px; padding: 0px;}
    /*自定义的layer样式*/
    .layui-layer{border-radius:10px; text-align: center;}
    .layui-layer-btn>.layui-layer-btn0{border-color:#dedede; background-color:#f1f1f1; color:#333;}
    .layui-layer-btn a{border-radius:10px;}
</style>
<%- body %>

