<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="<%=public_path%>/css/liveStyle.css?v=<%=version%>">
    <script src="<%=public_path%>/js/jquery.js"></script>
    <script src="<%=public_path%>/js/jquery.md5.js"></script>
    <script src="<%=public_path%>/js/main.js?v=<%=version%>"></script>
    <title>Live Broadcast - Broadcaster Console</title>
</head>
<body>
<%- body %>
</body>
</html>
<script src="<%=public_path%>/js/layer/layer.js"></script>
<%if(!isIndex){%>
<link rel="stylesheet" href="<%=public_path%>/js/jquery-ui-1.12.1/jquery-ui.min.css">
<link rel="stylesheet" href="<%=public_path%>/js/webuploader/webuploader.css">
<link rel="stylesheet" href="<%=public_path%>/js/dist/css/swiper.min.css">
<script src="<%=public_path%>/js/vendor/jquery.dd.min.js"></script>
<script src="<%=public_path%>/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="<%=public_path%>/js/webuploader/webuploader.nolog.min.js"></script>
<script src="<%=public_path%>/js/laypage/laypage.js"></script>
<script src="<%=public_path%>/js/js.cookie.js"></script>
<script src="<%=public_path%>/js/script.js"></script>
<script src="<%=public_path%>/js/dist/js/swiper.min.js"></script>
<%}%>

<style>
    /*自定义的layer样式*/
    .layui-layer{border-radius:10px; text-align: center;}
    .layui-layer-btn>.layui-layer-btn0{border-color:#dedede; background-color:#f1f1f1; color:#333;}
    .layui-layer-btn a{border-radius:10px;}
</style>
