<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erban.admin.main.mapper.UserReportRecordExpandMapper">
    <select id="selectByParam" parameterType="com.erban.main.model.UserReportRecord"
            resultType="com.erban.main.model.UserReportRecord">
        select ur.id, u.erban_no AS uid, ur.type, ru.erban_no as reportUid, ur.report_type as reportType, ur.phone_no as
        phoneNo, ur.ip, ur.device_id as deviceId, ur.create_date as createDate, ur.remark
        from user_report_record ur
        INNER JOIN users u on ur.uid = u.uid
        LEFT JOIN users ru on ur.report_uid = ru.uid
        <where>
            1 = 1
            <if test="uid != null and uid != ''">
                AND u.erban_no = #{uid}
            </if>
            <if test="reportUid != null and reportUid !=''">
                AND ru.erban_no = #{reportUid}
            </if>
            <if test="phoneNo != null and phoneNo != ''">
                AND ur.phone_no = #{phoneNo}
            </if>
            <if test="reportType != null and reportType !=0 ">
                AND ur.report_type = #{reportType}
            </if>
            <if test="type != null and type !=0 ">
                AND ur.type = #{type}
            </if>
        </where>
        ORDER BY ur.create_date desc
    </select>
</mapper>
