body,
html {
    height: 100%
}

.container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5
}

.container>img:nth-child(1) {
    width: 7.5rem;
    height: 3.74rem
}

.list {
    width: 7.07rem;
    background-color: #fff;
    border-radius: .2rem;
    overflow: hidden;
    margin-top: -1.4rem;
    margin-bottom: .5rem
}

.list-header {
    width: 100%;
    height: 1.67rem;
    border-bottom: .02rem dashed #E5E5E5;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative
}

.list-header-bottom {
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: absolute;
    bottom: -.15rem
}

.list-header-bottom1 {
    left: -.15rem
}

.list-header-bottom2 {
    right: -.15rem
}

.list-header>span {
    height: 100%;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around
}

.list-header-avatar {
    width: 1.46rem;
    height: 1.46rem;
    border-radius: 50%;
    border: .02rem solid #fff;
    box-sizing: border-box;
    position: absolute;
    top: 1.65rem;
    left: 0;
    right: 0;
    z-index: 999;
    margin: auto
}

.list-header>span>p:nth-child(1) {
    font-size: .26rem;
    color: #8E8E8E
}

.list-header>span>p:nth-child(2) {
    font-size: .3rem;
    color: #1A1A1A;
    text-align: center;
    line-height: 1.5;
}

.FF3B3B {
    color: #FF3B3B !important
}

.list-header-name {
    width: 1.8rem;
    margin-top: .25rem
}

.text-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.list-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center
}

.list-content>li {
    width: 6.4rem;
    height: 1.3rem;
    border-bottom: .01rem solid #f4f4f4;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

.list-rank-member {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center
}

.rank-img {
    width: .6rem;
    height: .6rem
}

.rank-member-avatar {
    width: .75rem;
    height: .75rem;
    border-radius: .1rem;
    margin: 0 .17rem
}

.list-rank-member>p {
    font-size: .28rem;
    color: #1A1A1A;
    width: 1.7rem;
    line-height: 2;
}

.list-content>li>span:nth-child(2) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a1a1a1;
    font-size: .28rem
}

.rank-member-no {
    font-size: .28rem;
    color: #1A1A1A;
    width: .6rem;
    text-align: center
}

#btn-share {
    width: 5.5rem;
    height: 1.27rem;
    position: fixed;
    margin: auto;
    bottom: .25rem;
    left: 0;
    right: 0
}
