.tab {
    background: #ecf0f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 30px 10px;
    border-radius: 10px;
}

.lis_tab {
    display: inline-block;
    min-width: 20px;
    line-height: 26px;
}

.tab .lis {
    min-width: 20%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.tab .lis>span {
    font-size: 16px;
}

.tab .lis .dropdown {
    margin-left: 30px;
}

.row-data>div:nth-child(n+2) {
    color: #4c81f5;
}

.times {
    /* width: 50%; */
}

.times>div {
    margin-right: 30px;
}

.tj {
    width: 100%;
    color: red;
    margin-bottom: 0!important;
}

.tj>div {
    margin-right: 20px;
}

.box {
    border: 1px solid #d5d5d5;
    height: 800px;
    border-radius: 10px;
    overflow-x: auto;
}

.box_div1 {
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: auto; */
    width: 100%;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
}

.box_div1>div {
    text-align: center;
    white-space: nowrap;
    min-width: 120px;
}

.box_div2 {
    width: 100%;
    padding: 0 10px;
    height: 50px;
    line-height: 50px;
}

.box_div2 .row {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    /* overflow-x: auto; */
}

.box_div2 .row>div {
    text-align: center;
    white-space: nowrap;
    min-width: 120px;
    border-bottom: 1px solid #d5d5d5;
}

.box_div2 .row:first-child>div {
    border-top: 2px solid #d5d5d5;
}

.container-date {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 10px;
    display: none;
}

.con-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.con_box {
    position: absolute;
    z-index: 10;
    padding: 20px;
    height: 600px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #dfdfdf;
    background: rgba(255, 255, 255, 1);
    display: none;
    overflow-y: scroll;
    border-radius: 10px;
    /* background: #dfdfdf; */
}

.con_box>div {
    display: flex;
    margin-top: 15px;
}

.con_box>div img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.con_box>div div {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-left: 20px;
}

.con_box>div div span {
    text-align: left;
}

.con_box_1 {
    position: absolute;
    border: 2px solid #dfdfdf;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 1);
    z-index: 10;
    padding: 20px;
    height: 600px;
    width: 600px;
    display: none;
    /* background: #dfdfdf; */
    border-radius: 20px;
    overflow-y: scroll;
    box-sizing: border-box;
}

.con_box_1>div {
    display: flex;
    /* margin-top: 15px; */
    /* flex-direction: column; */
}

.con_box_1 .title {
    font-weight: bold;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.con_box_1 .bzx {
    display: flex;
}

.con_box_1 .bzx_tit {
    font-size: 16px;
}

.con_box_1 .bzx>div {
    display: flex;
    /* justify-content: space-around; */
    /* flex-direction: column; */
    /* align-items: center; */
    margin-left: 20px;
    margin-top: 10px;
    width: 50%;
}

.con_box_1>div div span {
    text-align: left;
    display: inline-block;
    width: 50%;
}