<style>
    .right-content{
        padding-top:54px!important; padding-left:0!important; width:970px!important;
    }
</style>
<div class="content">
    <% include ../leftBar.html %>
    <!-- right content start -->
    <div class="right-content myCover-underReview">
        <div class="pageInfo">My Cover</div>
        <% include topBar.html %>

        <div class="covers-photos">
            <%if(data.length){%>
            <ul>
                <%for(let val of data){%>
                <li style="width: 210px;"><img src="<%=val.img%>" alt=""/></li>
                <%}%>
            </ul>
            <%}else{%>
            <div class="noData">No photos under review.</div>
            <%}%>
        </div>
        <div id="page" class="pagenation"></div>
    </div>
    <!-- right content end -->
</div>

<script>
    $(function(){
        //分页
        var pages = Math.ceil('<%=count.total%>'/8);
        if(pages>1) {
            page('page', pages);
        }
    })
</script>
