<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>搜索公会</title>
  <link rel="icon" href="../../../images/logo.png" type="image/png">
  <link href="../../lib/reset.css" rel="stylesheet" />
  <link href="../../lib/toolKit/css/index.css" rel="stylesheet" />
  <link href="../css/common.css" rel="stylesheet" />
  <link href="../css/search.css" rel="stylesheet" />
  <script type="text/javascript">
    (function (doc, win) {
      var docEl = doc.documentElement,
        resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
        recalc = function () {
          var clientWidth = docEl.clientWidth;
          if (!clientWidth) return;
          clientWidth = clientWidth > 750 ? 750 : clientWidth;
          clientWidth = clientWidth < 320 ? 320 : clientWidth;
          docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
        };
      recalc();
      win.addEventListener(resizeEvt, recalc, false);
      doc.addEventListener('DOMContentLoaded', recalc, false);
    })(document, window);
  </script>
</head>

<body>
  <div class="search-association">
    <div class="search-bar">
      <input type="text" placeholder="输入公会ID/公会名称" name="search" class="search" id="search">
      <div class="search-icon"></div>
    </div>
    <div class="search-content"></div>
    <!-- <div class="navbar">
      <div class="back" id="back"></div>
      <div class="forward" id="forward"></div>
    </div> -->
  </div>
</body>
<script src="../../lib/jquery-3.2.1.min.js"></script>
<script src="../../lib/toolKit/js/index.js"></script>
<script src="../../lib/common.js"></script>
<script src="../js/common.js"></script>
<script src="../js/search.js"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/eruda"></script>
<script>
  eruda.init();
</script> -->

</html>