body {
	line-height: 0px;
}
.wrapper {
	position: relative;
	width: 100%;
}
.bg {
	display: block;
	width: 100%;
	height: auto;
}
.get-wrapper {
	position: absolute;
	width: 270px;
	top: 40%;
	left: 50%;
	margin-left: -135px;
}
.get-wrapper input {
	display: block;
	width: 270px;
	height: 55px;
	line-height: 55px;
	font-size: 17px;
	text-align: center;
	color: #333;
	border: 2px solid #0c1126;
	border-radius: 5px;
	background: #fff;
	outline: none;
	box-sizing: border-box;
}
::-webkit-input-placeholder {
 color: #999;
 font-size: 17px; 
}
.get {
	width: 270px;
	height: 70px;
	margin-top: 20px;
	background: url(../image/get.png) center no-repeat;
	background-size: 100% 100%;
}
.info-wrapper, .result-wrapper {
	display: none;
	position: fixed;
	width: 300px;
	top: 180px;
	left: 50%;
	margin-left: -150px;
	z-index: 2;
}
.info, .result {
	width: 300px;
	height: 240px;
	margin-bottom: 15px;
	padding-top: 170px;
	font-size: 15px;
	line-height: 20px;
	color: #666;
	text-align: center;
	background: url(../image/popover.png) center no-repeat;
	background-size: 100% 100%;
	box-sizing: border-box;
}
.result strong {
	display: block;
	color: #000;
	font-weight: bold;
	margin-top: -20px;
}
.name {
	color: #1a1a1a;
}
.confirm {
	width: 160px;
	height: 40px;
	margin: 0 auto;
	background: url(../image/confirm.png);
	background-size: 100% 100%;
}
.close-info, .close-result {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 0px;
	right: -10px;
	background: url(../image/close.png) center no-repeat;
	background-size: 100% 100%;
}
.mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  z-index: 1;
}
