html,
body,
container {
    min-height: 100%;
    background-color: #000;
    color: #fff;
    font-family: NotoSansHans-Black;
}

* {
    margin: 0;
    padding: 0;
}
.container{
    width: 7.5rem;
    margin: 0 auto;
}
.theme_img img {
    width: 7.5rem;
}

.activityTime {
    padding-top: 0.2rem;
    display: flex;
    justify-content: center;
    height: 0.3rem;
    margin-bottom: 0.4rem;
}

.activityTime .text {
    font-size: 0.3rem;
    text-align: center;
    margin: 0 0.2rem;
    font-weight: 900;
}

.activityTime .line {
    width: 1rem;
    height: 2px;
    background: #fff;
    margin-top: 0.17rem;
}

ul {
    font-size: 0.26rem;
    padding: 0 0.4rem 0 0.6rem;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
    position: relative;
    line-height: 0.36rem;
    margin-bottom: 0.48rem;
    font-weight: 500;
    color: rgb(216, 216, 216);
}

ul li::after {
    position: absolute;
    content: '';
    width: 0.06rem;
    height: 0.06rem;
    border-radius: 50%;
    left: -0.15rem;
    top: 0.16rem;
    background: #fff;
    margin-top: -0.03rem;
}

ul li:first-child {
    margin-bottom: 0.24rem;
    font-weight: 900;
    color: #fff;
}

ul li:first-child::after {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 0;
    left: -0.16rem;
    margin-top: -0.05rem;
}

.no_list::after {
    opacity: 0;
}

.no_list span {
    display: inline-block;
    width: 100%;
}

.no_list .box {
    width: 2.24rem;
    margin-left: 50%;
    margin-top: 0.27rem;
    transform: translateX(-51%);
}

.no_list .open {
    width: 2.17rem;
    height: 0.4rem;
    margin-left: 50%;
    margin-top: 0.2rem;
    transform: translateX(-51%);
    border-radius: 0.2rem;
}

.dust {
    font-family: Noto Sans S Chinese;
    color: rgba(219, 215, 215, 0.8);
    font-weight: 200;
}

.bold {
    font-weight: 900;
    color: #fff;
}

.footer {
    width: 7.5rem;
    height: 1rem;
    font-size: 0.18rem;
    font-family: NotoSansHans-Regular;
    color: rgb(216, 216, 216);
    line-height: 1rem;
    text-align: center;
}
