html, body {
    width: 100%;
    height: 100%;
    background-color: #28166C;
    font-family: PingFangSC-Regular, PingFang SC;
    position: relative;
}
p {
    margin: 0;
}
.first-charge {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: auto;
}
.img {
    width: 100%;
}
.header, .content {
    position: relative;
}
.header>.display-board {
    position: absolute;
    background: rgba(255, 255, 255, .21);
    width: 70%;
    font-size: .2rem;
    padding: .1rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: .3rem;
    border-radius: 100px;
    color: #ffffff;
    overflow: hidden;
    display: none;
}
.header>.rule {
    width: 32px;
    height: 79px;
    position: absolute;
    right: 0;
    top: 5.1rem;
    background: url(../images/firstChargeImages/rule.png) no-repeat center;
    background-size: contain;
}
.header>.btn-group {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    display: flex;
}
.header>.btn-group>.btn {
    width: calc(50% - .2rem);
    font-size: 0;
}
.header>.btn-group>.btn:first-child {
    padding-left: .2rem;
}
.header>.btn-group>.btn:last-child {
    padding-right: .2rem;
}
.header>.btn-group>.btn>img {
    width: 100%;
}
.content>.img {
    margin-bottom: .5rem;
}
.content>.cumulative-charge {
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: .7rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: .25rem;
    font-weight: 600;    
    text-shadow: 0px 0px 2px rgba(193, 123, 7, 0.68);
    width: 187px;
    height: 50px;
    background: url(../images/firstChargeImages/charged_button.png) no-repeat center;
    background-size: cover;
}
.content>.cumulative-charge>p {
    margin-top: .1rem;
}
.content>.cumulative-charge>span {
    font-size: .2rem;
}
.content>.lucky_button {
    position: absolute;
    bottom: 4.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 4rem;
    font-size: .25rem;
    text-align: center;
    color: #ffffff;
}
.content>.lucky_button>p {
    padding: .1rem 0;
}
.content>.lucky_button>a {
    color: #C584FF;
    font-size: .3rem;
}
.footer {
    background-color: #F642FF;
    text-align: center;
    color: #ffffff;
    font-size: .34rem;
    padding: .3rem 0;
}
/* 弹框样式 */
.fade-box {
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #ffffff;
    font-size: .3rem;
    display: none;
}
.fade-box>.rule {
    width: 90%;
    position: absolute;
    top: 1.8rem;
    left: 50%;
    transform: translateX(-50%);
}
.fade-box>.rule>.fade-bg {
    width: 100%;
}
.fade-box>.rule>.rule-content {
    position: absolute;
    top: 1.5rem;
    left: 0;
    padding: 0 .4rem;
    font-size: .243rem;
}
.fade-box>.rule>.rule-content>p {
    margin-bottom: .25rem;
}
.fade-box .close-btn {
    text-align: center;
}
.fade-box .close-btn>img {
    margin: .4rem 0;
    width: .8rem;
}
.fade-box>.notice {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60%;
    transform: translateX(-50%) translateY(-50%);
}
.fade-box>.notice>img:first-child {
    width: 100%;
    margin-bottom: .5rem;
}
.fade-box>.notice>.notice-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0.5rem;
}
.fade-box>.notice>.notice-content>p {
    line-height: 25px;
}
.fade-box>.notice>.notice-content>p:last-child {
    margin-top: .1rem;
    color: #FBD78A;
}
.fade-box>.notice>.notice-content>p:last-child>a {
    margin-left: .4rem;
    color: #ffffff;
    font-size: .2rem;
}
.fade-box>.notice>.btn {
    position: absolute;
    bottom: 1.8rem;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}
.fade-box>.notice>.btn>img {
    width: 100%;
}
.fade-box>.gift {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60%;
    transform: translateX(-50%) translateY(-50%);
}
.fade-box>.gift>img:first-child {
    width: 100%;
    margin-bottom: .5rem;
}
.fade-box>.gift>.gift-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 1.1rem;
}
.fade-box>.gift>.gift-content>img {
    margin-bottom: .7rem;
    width: 80px;
}
.fade-box>.gift>.gift-content>p {
    line-height: 20px;
}
.fade-box>.gift>.gift-content>p>span {
    margin-left: .3rem;
}
.fade-box>.record {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translateX(-50%) translateY(-50%);
}
.fade-box>.record>img:first-child {
    width: 100%;
    margin-bottom: .5rem;
}
.fade-box>.record>.record-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: .8rem;
    height: 55%;
    overflow-y: auto;
}
.fade-box>.record>.record-content>.table-head {
    color: #FFD185;
}
.fade-box>.record>.record-content p {
    display: flex;
    padding: .2rem .2rem;
}
.fade-box>.record>.record-content p>span {
    display: block;
    width: 40%;
    text-align: center;
}
.fade-box>.record>.record-content p>span:last-child {
    width: 60%;
}
input {
    display: none;
}