$b: 1px dashed red;
html {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.container{
    width: 100%;
    height: auto;
    // overflow: scroll;
    .top{
        width: 100%;
        height: 3rem;
        background: url(../img/top-bg.png) 0/100% no-repeat;
    }
}