<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="lazyLoadingEnabled" value="false"/>
		<setting name="useGeneratedKeys" value="true"/>
		<setting name="defaultStatementTimeout" value="2000" />
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>

	<typeAliases>
		<typeAlias alias="User" type="com.xchat.oauth2.service.domain.user.User"/>
		<typeAlias alias="OAuthClientDetails" type="com.xchat.oauth2.service.domain.oauth.OAuthClientDetails"/>
	</typeAliases>

	<!--<mappers>-->
		<!--<mapper resource="erban.sqlmappers/UserMapper.xml"/>-->
		<!--<mapper resource="erban.sqlmappers/OAuthMapper.xml"/>-->
		<!--<mapper resource="erban.sqlmappers/AccountNameInfoMapper.xml"/>-->
	<!--</mappers>-->
</configuration>
