.contianer {
    width: 7.5rem;
    height: 23.09rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    background: url('../images/bg2.jpg') no-repeat;
    background-size: 100% 100%;
}

#theID {
    width: 2.5rem;
    height: 0.7rem;
    color: #8A3B06;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    margin-left: 0.2rem;
    margin-top: 0.07rem;
    text-align: right
}

label {
    width: 5.30rem;
    height: .88rem;
    background: rgba(255, 255, 255, 1);
    border: .03rem solid rgba(255, 112, 160, 1);
    border-radius: .44rem;
    font-size: .30rem;
    font-family: SourceHanSansCN-Regular;
    font-weight: 400;
    color: rgba(239, 48, 120, 1);
    padding-left: 0.35rem;
    box-sizing: border-box;
}

.label1 {
    margin-top: 9.9rem;
}

.label2,
.label3 {
    margin-top: 0.45rem;
}

.tip1 {
    font-size: 0.24rem;
    color: #fff;
    position: absolute;
    top: 7rem;
    line-height: 180%;
    left: 0;
    right: 0;
    margin: auto;
    transform: scale(0.88);
}

@media screen and (max-width: 360px) {
    /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
    .tip1 {
        font-size: 0.24rem;
        color: #fff;
        position: absolute;
        top: 6.87rem;
        line-height: 180%;
        left: 0;
        right: 0;
        margin: auto;
        transform: scale(0.78);
    }
}

.tip2 {
    font-size: 0.24rem;
    color: #fff;
    position: absolute;
    top: 16.9rem;
    line-height: 180%;
    width: 6rem;
    left: 0.75rem;
    text-align: center;
}

.title {
    background: #E242E5;
    font-size: .30rem;
    font-family: SourceHanSansCN-Bold;
    font-weight: bold;
    color: rgba(255, 248, 220, 1);
    display: inline-block;
    padding: 0.07rem 0.2rem;
    border-radius: 0.1rem;
    margin: 0.4rem auto 0;
}

.tip3 {
    text-align: left;
}

.tip3 p {
    margin-top: 0.2rem;
}

@media screen and (max-width: 360px) {
    /*当屏幕尺寸小于600px时，应用下面的CSS样式*/
    .tip3 p {
        margin-top: 0.12rem;
    }
}

#date {
    width: 2.5rem;
    height: 0.7rem;
    color: #8A3B06;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    margin-left: 0.2rem;
    margin-top: 0.07rem;
    text-align: right
}

#time {
    width: 2.5rem;
    height: 0.7rem;
    color: #8A3B06;
    border: 0;
    outline: none;
    -webkit-appearance: none;
    margin-left: 0.2rem;
    margin-top: 0.07rem;
    text-align: right
}

.pay_btn {
    width: 5.59rem;
    height: 1.39rem;
    background-image: url(../images/anniu2.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-size: 0.36rem;
    color: #fff;
    text-align: center;
    line-height: 1.18rem;
    margin-top: 0.5rem;
}

.record {
    width: 0.98rem;
    height: 0.96rem;
    background-image: url(../images/record.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.1rem 0;
}

.rule {
    width: 7.2rem;
    min-height: 5.46rem;
    background: url('../images/rule-box.png') no-repeat;
    background-size: 100% 100%;
    margin-top: 0.3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 0.26rem;
    color: #fff;
    margin-bottom: 0.32rem;
    padding-bottom: 0.3rem;
}

.rule-title {
    width: 2.78rem;
    height: 0.36rem;
    margin: 0 auto;
    margin-top: 0.36rem;
}

.rule-page {
    width: 100%;
    height: 0.8rem;
    margin-top: 0.27rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rule-page>img {
    width: 1.6rem;
    height: 0.8rem;
}

.rule-page>span {
    line-height: 2.7;
    color: #D3A28A;
}

.on-page {
    color: #F43A32 !important;
    position: relative;
}

.on-page>span {
    position: absolute;
    bottom: 0;
    left: 0.5rem;
    width: 0.48rem;
    height: 0.04rem;
    background-color: #F43A32;
}

.prompt,
.tips,
.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999;
}

.prompt>div,
.tips>div,
.popup>div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompt-text {
    font-size: 0.3rem;
    padding: 0.26rem 0.67rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-radius: 0.4rem;
}

.star {
    width: 6.69rem;
    height: 6.79rem;
    position: absolute;
    top: 2.8rem;
    left: 0.2rem;
}

.list {
    position: absolute;
    top: 4.8rem;
    right: 0;
}

.list>img {
    width: 0.44rem;
    height: 1.37rem;
}

.tips-content {
    width: 5.4rem;
    height: 3.54rem;
    border-radius: 0.24rem;
    font-size: 0.28rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    color: #121212;
    background-color: #fff;
    position: relative;
}

.tips,
.popup {
    background-color: rgba(0, 0, 0, 0.5);
}

.tips-content>div:nth-child(1) {
    padding-top: 0.3rem;
    height: 2.5rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.tips-content>div:nth-child(1)>span {
    display: flex;
    flex-direction: row;
}

.tips-content>div:nth-child(2) {
    width: 100%;
    height: 0.88rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tips-content>div:nth-child(2)>button {
    width: 49.5%;
    height: 100%;
    border: 0;
    background-color: #6D2BD9;
}

.cancel {
    width: 0.48rem;
    height: 0.48rem;
    position: absolute;
    right: 0.2rem;
    top: 0.2rem;
}

.payment {
    width: 4.58rem;
    height: 0.8rem;
    margin-bottom: 0.48rem;
    background: linear-gradient(87deg, rgba(156, 4, 252, 1) 0%, rgba(64, 4, 133, 1) 100%);
    border-radius: 0.41rem;
    color: #fff;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.3rem;
}

.tip-text>p:nth-child(1) {
    color: #999999;
    margin-right: 0.1rem;
}

.tip-text {
    line-height: 2.5;
}

.popup-content {
    width: 5.4rem;
    min-height: 5.07rem;
    background-color: #fff;
    border-radius: 0.24rem;
    position: relative;
    z-index: 999;
    color: #999;
}

.popup-title {
    width: 4.25rem;
    height: 2.52rem;
    position: absolute;
    top: -2rem;
    left: 0.55rem;
}

.popup-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.8rem;
}

.popup-text>p {
    font-size: 0.34rem;
    color: #1a1a1a;
    line-height: 1.3;
}

.popup-time {
    width: 80%;
    display: block;
    color: #B88DFF;
    font-size: 0.28rem;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.popup-time>p {
    display: block;
    float: left;
    width: 50%;
    text-align: center;
    line-height: 1.5;
}

.popup-btn {
    width: 3.2rem;
    height: 0.88rem;
    margin-bottom: 0.48rem;
    background: linear-gradient(87deg, rgba(156, 4, 252, 1) 0%, rgba(64, 4, 133, 1) 100%);
    border-radius: 0.41rem;
    color: #fff;
    text-align: center;
    line-height: 0.88rem;
    font-size: 0.3rem;
    margin-top: 1.5rem;
}

.rule-text {
    font-size: 0.26rem;
    line-height: 1.5;
    padding: 0 0.3rem 0 0.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
    margin-top: 0.3rem;
    color: #BC8164;
}

.rule-text>p {
    line-height: 2;
}

.tip-text-money {
    color: #741DDF;
}

.lcalendar_cancel {
    color: #999 !important;
}


/* .pay_btn{
    width:3.96rem;
    height:0.82rem;
    background:linear-gradient(87deg,rgba(156,4,252,1) 0%,rgba(64,4,133,1) 100%);
    border-radius:0.41rem;
    color: #fff;
    text-align: center;
    line-height: 0.82rem;
    font-size: 0.3rem;
    margin-top: 1.5rem;
} */