html,
body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    display: flex;
    min-height: 100%;
    padding-bottom: 0.32rem;
}

.content {
    width: 6.96rem;
    background-color: #fff;
    color: #2B2B2B;
    font-size: 0.24rem;
    border-radius: 0.24rem;
    margin: 0 auto;
    margin-top: 0.32rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content>span {
    width: 100%;
    height: 0.8rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.content>span:nth-child(1) {
    color: #6A3BCC;
    border-bottom: 0.01rem solid #F6F6F6;
}