<ul class="newtabs-menu">
    <a href="/broadcast/browseUser/userOnlineList">
        <li class="browseUserInvitation"><span> Send Invitation</span></li>
        <div class="browseUserInvitationImg"></div>
    </a>
    <a href="/broadcast/browseUser/browseUserMessage">
        <li class="browseUserMessage"><span>Send Message</span></li>
        <div class="browseUserMessageImg"></div>
    </a>

    <%if(anchorGreetingMailPriv){%>
    <a href="/anchor/admire/admire/sendMemberList">
        <li class=""><span>Send Greeting Mail</span></li>
        <div class=""></div>
    </a>
    <%}%>
</ul>