html,
body {
    width: 100%;
    height: 100%;
    // height: 20rem;
    position: relative;
    background: #fff;
}

$b:1px dashed red;


.container {
    width: 100%;

    h1 {
        font-size: 0.36rem;
        font-family: PingFangSC-Regular;
        font-weight: 400;
        color: rgba(33, 33, 33, 1);
        text-align: center;
        padding-top: 0.36rem;
    }

    .wrap {
        position: relative;
        width: 80%;
        height: 0.5*2rem;
        margin: 0 auto;
        margin-top: 0.31*2rem;
        padding: 0.2rem 0;
        // border:$b;

        .clear {
            position: absolute;
            right: 0.2rem;
            top: 0.3rem;
            width: 0.24rem;
            height: 0.24rem;
            background: url(../img/icon-shanchu.png) 0/cover no-repeat;

        }

        &:nth-of-type(4) .clear {
            right: 2.8rem;

        }

        input {
            width: 100%;
            height: 0.4*2rem;
            border: none;
            font-size: 0.18*2rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: #212121;
            text-indent: 0.05*2rem;
            padding-right: 0.8rem;
            padding-bottom: 0.1*2rem;
            border-bottom: 1px solid #E0E0E0;

            &::placeholder {
                color: rgba(194, 194, 194, 1);
            }

            &:hover {
                border-bottom: 1px solid #FD7C43;
            }

        }

        #input2 {
            // width: 60%;
        }

        &:nth-of-type(4) input {
            width: 60%;
        }

        .get-btn {
            position: absolute;
            top: 0;
            right: 0;
            width: 1.92rem;
            height: 0.8rem;
            // padding: 0rem 0.28*2rem;
            // height: 0.40*2rem;
            line-height: 0.8rem;
            background: rgba(245, 213, 254, 1);
            border-radius: 0.23*2rem;
            font-size: 0.14*2rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: #fff;
            text-align: center;
            background: linear-gradient(66deg, rgba(250, 93, 112, 1) 0%, rgba(253, 125, 66, 1) 100%);

            &.active {
                background: rgba(202, 202, 202, 1);
                color: #fff;
            }
        }
    }

    .code {
        .clear {
            right: 3rem;
            top: 0.3rem;
        }
        input{
            position: relative;
            transform: translateY(-0.1rem);
        }
    }

    .verify-zfb {
        .wrap {
            &:nth-of-type(2) input {
                width: 100%;
            }
        }
    }

    .info-wrap {
        width: 100%;
        height: 0.32rem;

        .info {
            width: 100%;
            height: 0.32rem;
            padding: 0 10%;
            margin-top: 0.03*2rem;
            text-align: center;
            font-size: .11*2rem;
            font-family: PingFangSC-Regular;
            font-weight: 400;
            color: #F52E2E;
            letter-spacing: 0.01*2rem;
        }
    }


    .submit {
        width: 5.82rem;
        height: 0.90rem;
        line-height: 0.9rem;
        background: linear-gradient(66deg, rgba(250, 93, 112, 0.7) 0%, rgba(253, 125, 66, 0.5) 100%);
        border-radius: 0.46rem;
        margin: 0 auto;
        margin-top: 0.37*2rem;
        text-align: center;

        &.active {
            background: linear-gradient(66deg, rgba(250, 93, 112, 1) 0%, rgba(253, 125, 66, 1) 100%);
        }

        span {
            font-size: .16*2rem;
            font-family: PingFangSC-Medium;
            font-weight: 500;
            color: rgba(255, 255, 255, 1);
        }
    }

    .tips {
        width: 100%;
        // padding: 0 0.61*2rem;
        margin-top: 0.37*2rem;
        // border: $b;
        text-align: center;

        p {
            font-size: 0.11*2rem;
            font-family: PingFangSC-Light;
            font-weight: 300;
            text-align: center;
            color: rgba(202, 202, 202, 1);
        }

    }
}



.toast {
    position: fixed;
    width: 80%;
    padding: .2rem 1rem;
    box-sizing: border-box;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    font-size: .3rem;
    z-index: 1000;
    top: 40%;
    left: 50%;
    transform: translateX(-50%) !important;
    border-radius: .2rem;
    text-align: center;
    display: none;
    font-family: "PingFang-SC-Regular"
}