<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erban.main.mybatismapper.AppButtonMenuConfMapper" >
  <resultMap id="BaseResultMap" type="com.erban.main.model.AppButtonMenuConf" >
    <id column="conf_id" property="confId" jdbcType="INTEGER" />
    <result column="conf_loc" property="confLoc" jdbcType="TINYINT" />
    <result column="conf_type" property="confType" jdbcType="TINYINT" />
    <result column="conf_status" property="confStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    conf_id, conf_loc, conf_type, conf_status, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erban.main.model.AppButtonMenuConfExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from app_button_menu_conf
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from app_button_menu_conf
    where conf_id = #{confId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from app_button_menu_conf
    where conf_id = #{confId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.erban.main.model.AppButtonMenuConf" >
    insert into app_button_menu_conf (conf_id, conf_loc, conf_type, 
      conf_status, create_time)
    values (#{confId,jdbcType=INTEGER}, #{confLoc,jdbcType=TINYINT}, #{confType,jdbcType=TINYINT}, 
      #{confStatus,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.erban.main.model.AppButtonMenuConf" >
    insert into app_button_menu_conf
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="confId != null" >
        conf_id,
      </if>
      <if test="confLoc != null" >
        conf_loc,
      </if>
      <if test="confType != null" >
        conf_type,
      </if>
      <if test="confStatus != null" >
        conf_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="confId != null" >
        #{confId,jdbcType=INTEGER},
      </if>
      <if test="confLoc != null" >
        #{confLoc,jdbcType=TINYINT},
      </if>
      <if test="confType != null" >
        #{confType,jdbcType=TINYINT},
      </if>
      <if test="confStatus != null" >
        #{confStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.erban.main.model.AppButtonMenuConf" >
    update app_button_menu_conf
    <set >
      <if test="confLoc != null" >
        conf_loc = #{confLoc,jdbcType=TINYINT},
      </if>
      <if test="confType != null" >
        conf_type = #{confType,jdbcType=TINYINT},
      </if>
      <if test="confStatus != null" >
        conf_status = #{confStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where conf_id = #{confId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erban.main.model.AppButtonMenuConf" >
    update app_button_menu_conf
    set conf_loc = #{confLoc,jdbcType=TINYINT},
      conf_type = #{confType,jdbcType=TINYINT},
      conf_status = #{confStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where conf_id = #{confId,jdbcType=INTEGER}
  </update>
</mapper>
