<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erban.main.mybatismapper.BillTransferMapper" >
  <resultMap id="BaseResultMap" type="com.erban.main.model.BillTransfer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="tran_type" property="tranType" jdbcType="BIT" />
    <result column="real_tran_type" property="realTranType" jdbcType="BIT" />
    <result column="cost" property="cost" jdbcType="INTEGER" />
    <result column="money" property="money" jdbcType="INTEGER" />
    <result column="bill_status" property="billStatus" jdbcType="BIT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="bill_id" property="billId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uid, tran_type, real_tran_type, cost, money, bill_status, create_time, update_time, 
    bill_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erban.main.model.BillTransferExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from bill_transfer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bill_transfer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bill_transfer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.erban.main.model.BillTransferExample" >
    delete from bill_transfer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erban.main.model.BillTransfer" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bill_transfer (uid, tran_type, real_tran_type, 
      cost, money, bill_status, 
      create_time, update_time, bill_id
      )
    values (#{uid,jdbcType=INTEGER}, #{tranType,jdbcType=BIT}, #{realTranType,jdbcType=BIT}, 
      #{cost,jdbcType=INTEGER}, #{money,jdbcType=INTEGER}, #{billStatus,jdbcType=BIT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{billId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.erban.main.model.BillTransfer" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bill_transfer
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="tranType != null" >
        tran_type,
      </if>
      <if test="realTranType != null" >
        real_tran_type,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="money != null" >
        money,
      </if>
      <if test="billStatus != null" >
        bill_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="billId != null" >
        bill_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="tranType != null" >
        #{tranType,jdbcType=BIT},
      </if>
      <if test="realTranType != null" >
        #{realTranType,jdbcType=BIT},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        #{money,jdbcType=INTEGER},
      </if>
      <if test="billStatus != null" >
        #{billStatus,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="billId != null" >
        #{billId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erban.main.model.BillTransferExample" resultType="java.lang.Integer" >
    select count(*) from bill_transfer
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update bill_transfer
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=INTEGER},
      </if>
      <if test="record.tranType != null" >
        tran_type = #{record.tranType,jdbcType=BIT},
      </if>
      <if test="record.realTranType != null" >
        real_tran_type = #{record.realTranType,jdbcType=BIT},
      </if>
      <if test="record.cost != null" >
        cost = #{record.cost,jdbcType=INTEGER},
      </if>
      <if test="record.money != null" >
        money = #{record.money,jdbcType=INTEGER},
      </if>
      <if test="record.billStatus != null" >
        bill_status = #{record.billStatus,jdbcType=BIT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.billId != null" >
        bill_id = #{record.billId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update bill_transfer
    set id = #{record.id,jdbcType=INTEGER},
      uid = #{record.uid,jdbcType=INTEGER},
      tran_type = #{record.tranType,jdbcType=BIT},
      real_tran_type = #{record.realTranType,jdbcType=BIT},
      cost = #{record.cost,jdbcType=INTEGER},
      money = #{record.money,jdbcType=INTEGER},
      bill_status = #{record.billStatus,jdbcType=BIT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      bill_id = #{record.billId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erban.main.model.BillTransfer" >
    update bill_transfer
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="tranType != null" >
        tran_type = #{tranType,jdbcType=BIT},
      </if>
      <if test="realTranType != null" >
        real_tran_type = #{realTranType,jdbcType=BIT},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=INTEGER},
      </if>
      <if test="money != null" >
        money = #{money,jdbcType=INTEGER},
      </if>
      <if test="billStatus != null" >
        bill_status = #{billStatus,jdbcType=BIT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="billId != null" >
        bill_id = #{billId,jdbcType=VARCHAR},
      </if>

      <if test="bankCard != null" >
        bank_card = #{bankCard,jdbcType=VARCHAR},
      </if>

      <if test="bankCardName != null" >
        bank_card_name = #{bankCardName,jdbcType=VARCHAR},
      </if>

      <if test="openBankCode != null" >
        open_bank_code = #{openBankCode,jdbcType=VARCHAR},
      </if>

      <if test="realTransferAccount != null" >
        real_transfer_account = #{realTransferAccount,jdbcType=VARCHAR},
      </if>

      <if test="realTransferName != null" >
        real_transfer_name = #{realTransferName,jdbcType=VARCHAR},
      </if>

      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=INTEGER},
      </if>

      <if test="pingxxId != null" >
        pingxx_id = #{pingxxId,jdbcType=VARCHAR},
      </if>

    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erban.main.model.BillTransfer" >
    update bill_transfer
    set uid = #{uid,jdbcType=INTEGER},
      tran_type = #{tranType,jdbcType=BIT},
      real_tran_type = #{realTranType,jdbcType=BIT},
      cost = #{cost,jdbcType=INTEGER},
      money = #{money,jdbcType=INTEGER},
      bill_status = #{billStatus,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      bill_id = #{billId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByBillId" resultType="com.erban.main.model.BillTransfer">
    select id,uid,tran_type as tranType,real_tran_type as realTranType,cost,money,bill_status as billStatus,create_time as createTime,update_time updateTime,bill_id as billId from bill_transfer where bill_id = #{billId}
  </select>

</mapper>
