<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erban.main.mybatismapper.HeadwearPurseRecordMapper" >
  <resultMap id="BaseResultMap" type="com.erban.main.model.HeadwearPurseRecord" >
    <id column="record_id" property="recordId" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="headwear_id" property="headwearId" jdbcType="BIGINT" />
    <result column="headwear_date" property="headwearDate" jdbcType="INTEGER" />
    <result column="total_gold_num" property="totalGoldNum" jdbcType="BIGINT" />
    <result column="is_use" property="isUse" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    record_id, uid, headwear_id, headwear_date, total_gold_num, is_use, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erban.main.model.HeadwearPurseRecordExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from headwear_purse_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from headwear_purse_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from headwear_purse_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.erban.main.model.HeadwearPurseRecordExample" >
    delete from headwear_purse_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.erban.main.model.HeadwearPurseRecord" >
    <selectKey resultType="java.lang.Long" keyProperty="recordId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into headwear_purse_record (uid, headwear_id, headwear_date, 
      total_gold_num, is_use, create_time
      )
    values (#{uid,jdbcType=BIGINT}, #{headwearId,jdbcType=BIGINT}, #{headwearDate,jdbcType=INTEGER}, 
      #{totalGoldNum,jdbcType=BIGINT}, #{isUse,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.erban.main.model.HeadwearPurseRecord" >
    <selectKey resultType="java.lang.Long" keyProperty="recordId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into headwear_purse_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="headwearId != null" >
        headwear_id,
      </if>
      <if test="headwearDate != null" >
        headwear_date,
      </if>
      <if test="totalGoldNum != null" >
        total_gold_num,
      </if>
      <if test="isUse != null" >
        is_use,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="headwearId != null" >
        #{headwearId,jdbcType=BIGINT},
      </if>
      <if test="headwearDate != null" >
        #{headwearDate,jdbcType=INTEGER},
      </if>
      <if test="totalGoldNum != null" >
        #{totalGoldNum,jdbcType=BIGINT},
      </if>
      <if test="isUse != null" >
        #{isUse,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.erban.main.model.HeadwearPurseRecordExample" resultType="java.lang.Integer" >
    select count(*) from headwear_purse_record
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update headwear_purse_record
    <set >
      <if test="record.recordId != null" >
        record_id = #{record.recordId,jdbcType=BIGINT},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=BIGINT},
      </if>
      <if test="record.headwearId != null" >
        headwear_id = #{record.headwearId,jdbcType=BIGINT},
      </if>
      <if test="record.headwearDate != null" >
        headwear_date = #{record.headwearDate,jdbcType=INTEGER},
      </if>
      <if test="record.totalGoldNum != null" >
        total_gold_num = #{record.totalGoldNum,jdbcType=BIGINT},
      </if>
      <if test="record.isUse != null" >
        is_use = #{record.isUse,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update headwear_purse_record
    set record_id = #{record.recordId,jdbcType=BIGINT},
      uid = #{record.uid,jdbcType=BIGINT},
      headwear_id = #{record.headwearId,jdbcType=BIGINT},
      headwear_date = #{record.headwearDate,jdbcType=INTEGER},
      total_gold_num = #{record.totalGoldNum,jdbcType=BIGINT},
      is_use = #{record.isUse,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.erban.main.model.HeadwearPurseRecord" >
    update headwear_purse_record
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="headwearId != null" >
        headwear_id = #{headwearId,jdbcType=BIGINT},
      </if>
      <if test="headwearDate != null" >
        headwear_date = #{headwearDate,jdbcType=INTEGER},
      </if>
      <if test="totalGoldNum != null" >
        total_gold_num = #{totalGoldNum,jdbcType=BIGINT},
      </if>
      <if test="isUse != null" >
        is_use = #{isUse,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erban.main.model.HeadwearPurseRecord" >
    update headwear_purse_record
    set uid = #{uid,jdbcType=BIGINT},
      headwear_id = #{headwearId,jdbcType=BIGINT},
      headwear_date = #{headwearDate,jdbcType=INTEGER},
      total_gold_num = #{totalGoldNum,jdbcType=BIGINT},
      is_use = #{isUse,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
</mapper>
