<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erban.main.mybatismapper.StatWeekListsMapper" >
  <resultMap id="BaseResultMap" type="com.erban.main.model.StatWeekLists" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="room_uid" property="roomUid" jdbcType="BIGINT" />
    <result column="deal_uid" property="dealUid" jdbcType="BIGINT" />
    <result column="avatar" property="avatar" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="TINYINT" />
    <result column="price" property="price" jdbcType="BIGINT" />
    <result column="nick" property="nick" jdbcType="VARCHAR" />
    <result column="prod_id" property="prodId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, room_uid, deal_uid, avatar, gender, price, nick, prod_id, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erban.main.model.StatWeekListsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from stat_week_lists
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from stat_week_lists
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from stat_week_lists
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.erban.main.model.StatWeekLists" >
    insert into stat_week_lists (id, room_uid, deal_uid, 
      avatar, gender, price, 
      nick, prod_id, create_time
      )
    values (#{id,jdbcType=BIGINT}, #{roomUid,jdbcType=BIGINT}, #{dealUid,jdbcType=BIGINT}, 
      #{avatar,jdbcType=VARCHAR}, #{gender,jdbcType=TINYINT}, #{price,jdbcType=BIGINT}, 
      #{nick,jdbcType=VARCHAR}, #{prodId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.erban.main.model.StatWeekLists" >
    insert into stat_week_lists
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="roomUid != null" >
        room_uid,
      </if>
      <if test="dealUid != null" >
        deal_uid,
      </if>
      <if test="avatar != null" >
        avatar,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="nick != null" >
        nick,
      </if>
      <if test="prodId != null" >
        prod_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="roomUid != null" >
        #{roomUid,jdbcType=BIGINT},
      </if>
      <if test="dealUid != null" >
        #{dealUid,jdbcType=BIGINT},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=TINYINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=BIGINT},
      </if>
      <if test="nick != null" >
        #{nick,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null" >
        #{prodId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.erban.main.model.StatWeekLists" >
    update stat_week_lists
    <set >
      <if test="roomUid != null" >
        room_uid = #{roomUid,jdbcType=BIGINT},
      </if>
      <if test="dealUid != null" >
        deal_uid = #{dealUid,jdbcType=BIGINT},
      </if>
      <if test="avatar != null" >
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=TINYINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=BIGINT},
      </if>
      <if test="nick != null" >
        nick = #{nick,jdbcType=VARCHAR},
      </if>
      <if test="prodId != null" >
        prod_id = #{prodId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erban.main.model.StatWeekLists" >
    update stat_week_lists
    set room_uid = #{roomUid,jdbcType=BIGINT},
      deal_uid = #{dealUid,jdbcType=BIGINT},
      avatar = #{avatar,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=TINYINT},
      price = #{price,jdbcType=BIGINT},
      nick = #{nick,jdbcType=VARCHAR},
      prod_id = #{prodId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
