<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erban.main.mybatismapper.StatSendGiftSumListMapper" >
  <resultMap id="BaseResultMap" type="com.erban.main.model.StatSendGiftSumList" >
    <id column="gift_list_id" property="giftListId" jdbcType="BIGINT" />
    <result column="room_uid" property="roomUid" jdbcType="BIGINT" />
    <result column="uid" property="uid" jdbcType="BIGINT" />
    <result column="total_gold" property="totalGold" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    gift_list_id, room_uid, uid, total_gold, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erban.main.model.StatSendGiftSumListExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from stat_send_gift_sumlist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from stat_send_gift_sumlist
    where gift_list_id = #{giftListId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from stat_send_gift_sumlist
    where gift_list_id = #{giftListId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.erban.main.model.StatSendGiftSumList" >
    insert into stat_send_gift_sumlist (gift_list_id, room_uid, uid, 
      total_gold, create_time, update_time
      )
    values (#{giftListId,jdbcType=BIGINT}, #{roomUid,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, 
      #{totalGold,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.erban.main.model.StatSendGiftSumList" >
    insert into stat_send_gift_sumlist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="giftListId != null" >
        gift_list_id,
      </if>
      <if test="roomUid != null" >
        room_uid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="totalGold != null" >
        total_gold,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="giftListId != null" >
        #{giftListId,jdbcType=BIGINT},
      </if>
      <if test="roomUid != null" >
        #{roomUid,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="totalGold != null" >
        #{totalGold,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.erban.main.model.StatSendGiftSumList" >
    update stat_send_gift_sumlist
    <set >
      <if test="roomUid != null" >
        room_uid = #{roomUid,jdbcType=BIGINT},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="totalGold != null" >
        total_gold = #{totalGold,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where gift_list_id = #{giftListId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erban.main.model.StatSendGiftSumList" >
    update stat_send_gift_sumlist
    set room_uid = #{roomUid,jdbcType=BIGINT},
      uid = #{uid,jdbcType=BIGINT},
      total_gold = #{totalGold,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where gift_list_id = #{giftListId,jdbcType=BIGINT}
  </update>
</mapper>
