<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.erban.main.mybatismapper.UserPacketMapper" >
  <resultMap id="BaseResultMap" type="com.erban.main.model.UserPacket" >
    <id column="uid" property="uid" jdbcType="BIGINT" />
    <result column="packet_num" property="packetNum" jdbcType="DOUBLE" />
    <result column="hist_packet_num" property="histPacketNum" jdbcType="DOUBLE" />
    <result column="first_get_time" property="firstGetTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    uid, packet_num, hist_packet_num, first_get_time, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.erban.main.model.UserPacketExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from user_packet
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_packet
    where uid = #{uid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_packet
    where uid = #{uid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.erban.main.model.UserPacket" >
    insert into user_packet (uid, packet_num, hist_packet_num, 
      first_get_time, create_time, update_time
      )
    values (#{uid,jdbcType=BIGINT}, #{packetNum,jdbcType=DOUBLE}, #{histPacketNum,jdbcType=DOUBLE}, 
      #{firstGetTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.erban.main.model.UserPacket" >
    insert into user_packet
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        uid,
      </if>
      <if test="packetNum != null" >
        packet_num,
      </if>
      <if test="histPacketNum != null" >
        hist_packet_num,
      </if>
      <if test="firstGetTime != null" >
        first_get_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uid != null" >
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="packetNum != null" >
        #{packetNum,jdbcType=DOUBLE},
      </if>
      <if test="histPacketNum != null" >
        #{histPacketNum,jdbcType=DOUBLE},
      </if>
      <if test="firstGetTime != null" >
        #{firstGetTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.erban.main.model.UserPacket" >
    update user_packet
    <set >
      <if test="packetNum != null" >
        packet_num = #{packetNum,jdbcType=DOUBLE},
      </if>
      <if test="histPacketNum != null" >
        hist_packet_num = #{histPacketNum,jdbcType=DOUBLE},
      </if>
      <if test="firstGetTime != null" >
        first_get_time = #{firstGetTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where uid = #{uid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.erban.main.model.UserPacket" >
    update user_packet
    set packet_num = #{packetNum,jdbcType=DOUBLE},
      hist_packet_num = #{histPacketNum,jdbcType=DOUBLE},
      first_get_time = #{firstGetTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where uid = #{uid,jdbcType=BIGINT}
  </update>
</mapper>
