* {
    margin: 0;
    padding: 0;
}

.popnone {
    display: flex;
    width: 100%;
    height: 3rem;
    top: 50%;
    margin-top: -2rem;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* display: none; */
}

.none1 {
    width: 2rem;
    height: 2rem;
}

.none2 {
    color: #999999;
    font-size: 0.24rem;
    margin-top: 0.2rem;
}