html,
body {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  position: relative;
}

.toast {
  position: fixed;
  width: 80%;
  padding: .2rem 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  font-size: .3rem;
  z-index: 1000;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  border-radius: .2rem;
  text-align: center;
  display: none;
  font-family: "PingFang-SC-Regular";
}

.shade {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: url(../img/shade.png) 100% 100%/cover no-repeat;
}

.container {
  background: #f4f4f4;
}

.container::before {
  position: absolute;
  content: '';
  display: block;
  width: 100%;
  height: 5rem;
  border-radius: .3rem;
  background: rgba(213, 89, 249, 1);
}

.container .inputArea {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  position: relative;
  flex-direction: row;
  padding: 0.5rem;
  position: relative;
  align-items: center;
  background: rgba(213, 89, 249, 1);
}

.container .inputArea>input {
  display: inline-block;
  box-sizing: border-box;
  border: none;
  flex: 1;
  font-size: 0.5rem;
  color: #ffffff;
  font-weight: bolder;
  background: rgba(213, 89, 249, 1);
}

.container .inputArea>input::-webkit-input-placeholder {
  font-size: 0.4rem;
  color: #f4f4f4;
}

.container .goldArea {
  background: #ffffff;
  padding: .2rem .2rem 0 .2rem;
  border-radius: .1rem;
  margin: 0.2rem;
  position: relative;
}

.container .goldArea>h2 {
  text-align: center;
  font-size: 0.34rem;
  padding: .1rem 0 .3rem 0;
  font-family: PingFang-SC-Regular;
  font-weight: 600;
  color: #2c2c2c;
}

.container .goldArea .goldList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container .goldArea .goldItem {
  width: 2rem;
  height: 1.2rem;
  text-align: center;
  border: 1px solid #f4f4f4;
  background: #f4f4f4;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0.1rem;
  padding-top: 0.15rem;
  margin-bottom: .2rem;
}

.container .goldArea .goldItem.active {
  background: rgba(213, 89, 249, 1);
  border: 1px solid rgba(213, 89, 249, 1);
  box-shadow: 1px 1px 15px rgba(213, 89, 249, 1);
}

.container .goldArea .goldItem.active .gold-num span {
  color: #fff;
}

.container .goldArea .goldItem.active .money {
  color: #fff;
}

.container .goldArea .goldItem .img {
  display: inline-block;
  width: 0.36rem;
  height: 0.36rem;
  vertical-align: -0.07rem;
  margin-right: 0.1rem;
  vertical-align: middle;
  background: url(../img/gold.png) 0/cover no-repeat;
}

.container .goldArea .goldItem .gold-num {
  height: 0.36rem;
  width: 100%;
}

.container .goldArea .goldItem .gold-num span {
  font-size: 0.24rem;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: #999999;
  margin-left: -0.11rem;
  vertical-align: middle;
}

.container .goldArea .goldItem .money {
  width: 100%;
  font-size: 0.20rem;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #999999;
  margin-top: 0.1rem;
}

.container .tips {
  padding: 0 .2rem .2rem .2rem;
  font-size: .24rem;
}

.container input, .container label, .container a {
  vertical-align: middle;
}

.container a {
  color: #1296db;
}

.container .tips>p {
  padding: .1rem 0;
}

.agreement {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.agreement .charge-agreement {
  position: absolute;
  background-color: #ffffff;
  border-radius: .2rem;
  width: 90%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
}

.agreement .charge-agreement>.close-agreement {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  width: .4rem;
}

.agreement .charge-agreement>h2 {
  padding: .3rem 0;
  text-align: center;
  font-size: .4rem;
  font-weight: 600;
}

.agreement .charge-agreement>.content {
  margin: .2rem;
  overflow-y: auto;
}

.agreement .charge-agreement>.content>p {
  line-height: .5rem;
}

.agreement .charge-agreement>.content>h5 {
  font-size: .35rem;
  font-weight: 600;
}

.margin-under {
  margin-bottom: .4rem;
}

.border {
  font-weight: bold;
  text-decoration: underline;
}

.pop-up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.pop-up-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 80%;
  background-color: #ffffff;
  border-radius: .2rem;
  padding: .5rem;
}

.pop-up-dialog>header>h3 {
  text-align: center;
  font-size: .32rem;
  font-weight: 600;
}

.pop-up-dialog>section>p {
  margin: .5rem 0;
}

.special {
  color: #d81e06;
  font-weight: 600;
}

.pop-up-dialog>footer {
  text-align: center;
}

.pop-up-dialog>footer>button {
  border: 0;
  outline: none;
  color: #ffffff;
  background-color:  rgba(213, 89, 249, 1);
  border-radius: 50px;
  width: 50%;
  padding: .15rem;
}


#dialog {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

#dialog .dialog-mask {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
}

.dialog-box {
  position: absolute;
  margin: 50% auto;
  padding: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  z-index: 20;
  -webkit-animation: animationDialog 0.5s;
  animation: animationDialog 0.5s;
}

.dialog-box .dialog-box_.success {
  width: 100%;
  border-radius: 0.2rem;
  overflow: hidden;
  background: url(../img/success.png) 0/contain no-repeat !important;
}

.dialog-box .dialog-box_.success .dialog-container {
  font-size: 0.32rem;
  padding: 0.3rem;
}

.dialog-box .dialog-box_.success .dialog-container .dialog-container-title {
  color: #1A1A1A;
  font-weight: bold;
  font-size: 0.34rem;
  height: 1rem;
  line-height: 1rem;
}

.dialog-box .dialog-box_.success .dialog-container .dialog-container-content {
  font-size: .36rem;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(213, 89, 249, 1);
}

.dialog-box .dialog-box_.success .dialog-btn {
  min-height: 0.8rem;
  line-height: 0.8rem;
  opacity: 0;
  color: #ffffff;
  font-size: 0.32rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 0.1rem 0.3rem 0.3rem;
}

.dialog-box .dialog-box_.success .dialog-btn>button {
  height: 0.7rem;
  line-height: 0.7rem;
  width: 2.3rem;
  border: none;
  color: #ffffff;
  border-radius: 0.1rem;
  margin-left: 0.2rem;
}

.dialog-box .dialog-box_.success .dialog-btn>button:first-child {
  margin-left: 0;
}

.dialog-box .dialog-box_.confirm {
  width: 100%;
  border-radius: 0.2rem;
  overflow: hidden;
  background: #ffffff !important;
}

.dialog-box .dialog-box_.confirm .dialog-container {
  font-size: 0.32rem;
  padding: 0.3rem;
}

.dialog-box .dialog-box_.confirm .dialog-container .dialog-container-title {
  color: #1A1A1A;
  font-weight: bold;
  font-size: 0.34rem;
  height: 0.3rem;
  line-height: 1rem;
}

.dialog-box .dialog-box_.confirm .dialog-container .dialog-container-content {
  font-size: .3rem;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: #333333;
  line-height: .42rem;
}

.dialog-box .dialog-box_.confirm .dialog-btn {
  color: #fff;
  width: 100%;
  height: 100%;
  font-size: 0.32rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.dialog-box .dialog-box_.confirm .dialog-btn>button {
  line-height: 0.7rem;
  width: 2.3rem;
  border: none;
  color: #fff;
  padding: 0;
  width: 100%;
  height: 100%;
}

.dialog-box .dialog-box_.confirm .dialog-btn>button:first-child {
  margin-left: 0;
}

.dialog-box .dialog-box_.confirm .dialog-btn .confirm-btn {
  background: rgba(213, 89, 249, 1);
  font-size: 0.32rem;
}

.toast {
  position: fixed;
  width: 85%;
  padding: .2rem 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  font-size: .4rem;
  z-index: 1000;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) !important;
  transform: translateX(-50%) !important;
  border-radius: .2rem;
  text-align: center;
  display: none;
  font-family: "PingFang-SC-Regular";
}

.loading {
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1200;
  display: none;
  opacity: 1;
}

.loading img {
  height: 0.44rem;
  width: 0.44rem;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@-webkit-keyframes animationDialog {
  0% {
    opacity: 0;
    margin-top: 40%;
  }

  100% {
    opacity: 1;
    margin-top: 50%;
  }
}

@keyframes animationDialog {
  0% {
    opacity: 0;
    margin-top: 40%;
  }

  100% {
    opacity: 1;
    margin-top: 50%;
  }
}

.cancel {
  background: #2b2a2a;
}

/*# sourceMappingURL=index.css.map */