html, body, .search-association {
  font-size: .3rem;
  width: 100%;
  height: 100%;
  position: relative;
}

.search-association {
  display: flex;
  flex-direction: column;
}

.search-association>.search-bar {
  padding: .25rem;
  display: flex;
  justify-content: space-between;
}

.search-association>.search-bar>.search {
  outline: none;
  border-radius: 8px;
  border: 1px solid #BDBDBD;
  padding: .15rem;
  width: 85%;
}

.search-association>.search-bar>.search-icon {
  width: .6rem;
  height: .6rem;
  background: url(../img/search.png) no-repeat center;
  background-size: contain;
  margin-left: .3rem;
  padding: .04rem 0;
}

.search-association>.search-content {
  padding: .25rem;
  font-family: PingFangSC-Medium, PingFang SC;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.search-association>.search-content>h3 {
  font-weight: 600;
  color: #333333;
}

.search-association>.search-content>.search-result>h3 {
  text-align: center;
  font-weight: 500;
  color: #333333;
  display: block;
  line-height: 10rem;
}

.search-association>.search-content>.search-result {
  overflow-y: auto;
  height: 100%;
}

.search-association>.search-content>.search-result::-webkit-scrollbar {
  display: none;
}

.search-association>.search-content>.search-result>.result-list {
  padding: .25rem .15rem;
}