html,
body,
.zxb {
    width: 100%;
    height: 100%;
    position: relative;
}

html,
body {
    overflow: hidden;
}

.zxb::-webkit-scrollbar,
.list::-webkit-scrollbar {
    display: none;
}

.zxb {
    font-size: 0;
    overflow-y: auto;
}

.zxb>img,
.cover>img {
    width: 100%;
}

.zxb>.rule-block {
    position: absolute;
    right: 0;
    width: 1.7rem;
    top: .3rem;
}

.zxb>.rule-block {
    position: absolute;
    right: 0;
    width: 1.7rem;
    top: .3rem;
}

.cover {
    position: relative;
    font-size: .28rem;
}

.cover>p {
    text-align: center;
    position: absolute;
    bottom: .5rem;
    color: #7278E2;
    width: 100%;
}

.block {
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.block img {
    width: 90%;
    margin-top: .45rem;
}

.block>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.gift-list>img:first-child {
    margin-bottom: .78rem;
}

.gifts {
    position: absolute;
    bottom: 1.25rem;
    width: 80%;
    height: 2.7rem;
    color: rgb(254, 238, 212);
    display: flex;
    justify-content: space-between;
}

.font-purple {
    color: rgb(190, 23, 98);
}

.gift-item {
    text-align: center;
    font-weight: 600;
}

.gift-item>img {
    width: 1.6rem;
    height: 1.6rem;
    margin: 0;
    margin-bottom: .35rem;
}

.gift-item>p {
    font-weight: 600;
}

.gift-item>p:last-child {
    margin-top: .15rem;
}

.history-block {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1.7rem !important;
    margin-top: 0 !important;
}

.rank-list {
    padding-top: 1.1404rem;
}

.rank-list>img {
    margin: 0;
}

.rank-list>.btn-group {
    position: absolute;
    display: flex;
    top: 0;
    align-items: baseline;
    z-index: 2;
}

.half {
    height: .7rem !important;
}

.rank-list>.btn-group>img {
    width: 2.7rem;
    margin: 0;
    height: 1.1404rem;
}

.rank-list>.btn-group>img:first-child {
    margin-right: .2rem;
}

.rank-content {
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 1.2404rem;
    box-sizing: border-box;
    font-size: .24rem;
}

/* 前三名 */
.top,
.list {
    padding: 0 .1rem;
}

.top {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.top>div {
    color: #B3255D;
    text-align: center;
}

.top>div>.img-box {
    background: url('../img/two.png') no-repeat center;
    background-size: contain;
    height: 2.1rem;
    width: 2rem;
    margin: .1rem 0;
}

.top>div>.img-box>img {
    width: .8rem;
    height: .8rem;
    border-radius: 50%;
    margin-top: .25rem;
}

.top>.two>.img-box {
    background-image: url('../img/one.png');
    height: 2.3rem;
}

.top>.two>.img-box>img {
    margin-top: .33rem;
}

.top>.three>.img-box {
    background-image: url('../img/three.png');
    height: 1.8rem;
}

.top>.three>.img-box>img {
    margin-top: .28rem;
}

.top>div>p {
    margin-bottom: .05rem;
    display: block;
    width: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.top>div>p>span {
    color: #CE3D76;
    vertical-align: middle;
}

.top>div>p:last-child>img {
    width: .35rem;
    margin: 0;
    vertical-align: middle;
}

/* 排名 */
.list {
    height: 6.6394rem;
    overflow: hidden;
}

.list>.list-item {
    display: flex;
    align-items: center;
    padding: 0 .2rem;
    box-sizing: border-box;
    height: 1.1066rem;
}

.list>.list-item:nth-child(odd) {
    background-color: #FF9ABE;
}

/* 更多按钮 */
.more {
    text-align: center;
    margin-top: .05rem;
    position: relative;
    bottom: 0;
    display: none;
}

.more>img {
    width: 1.1rem;
    margin: 0;
}

/* 我的排名 */
.mine {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFA7C6;
    border-radius: 0 0 .2rem .2rem;
    display: flex;
    align-items: center;
    padding: .1rem .3rem;
    box-sizing: border-box;
}

.rank-number {
    width: 10%;
    text-align: center;
}

.rank-number>span {
    display: block;
    background-color: #F25E93;
    color: #ffffff;
    width: .5rem;
    height: .5rem;
    line-height: .5rem;
    border-radius: 6px;
}

.header {
    width: 20%;
    text-align: center;
}

.header>img {
    width: .85rem;
    border: 1px solid #98365B;
    border-radius: 50%;
    margin: 0;
}

.info {
    width: 40%;
    text-align: center;
}

.info>p {
    color: #B3255D;
    font-size: .24rem;
}

.info>p:first-child {
    margin-bottom: .1rem;
    font-size: .28rem;
}

.score {
    width: 30%;
    text-indent: .7rem;
}

.score>img {
    width: .35rem;
    margin: 0;
    vertical-align: middle;
}

.score>span {
    color: #CE3D76;
    vertical-align: middle;
}

.notice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #BD1460;
    font-weight: 600;
    font-size: .3rem;
    display: none;
    width: 5rem;
    text-align: center;
}

/* 弹窗 */
.pop-up {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 999;
    display: none;
}

/* 规则 */
.pop-up>.rule {
    position: absolute;
    width: 85%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    display: none;
}

.pop-up>.rule>img {
    width: 100%;
}

.pop-up>.rule>.close,
.history>p>.close,
.dialog>p>.close {
    margin-top: .2rem;
    width: .75rem;
}

/* 历史 */
.history {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    font-size: .28rem;
    display: none;
}

.history>img, .dialog>img {
    width: 100%;
}

.history-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 1.45rem);
    color: #CE3D76;
}

.history-content>.history-number {
    position: absolute;
    left: 50.25%;
    transform: translateX(-50%);
    color: #c53171;
    font-size: .24rem;
    font-weight: 900;
}

.number-1 {
    top: .75rem;
}

.number-2 {
    top: 5.55rem;
}

.history-content>.history-list {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 0 .5rem;
    box-sizing: border-box;
}

.list-1 {
    top: 1.6rem;
}

.list-2 {
    top: 3.7rem;
}

.list-3 {
    top: 6.4rem;
}

.list-4 {
    top: 8.5rem;
}

.history-content>.history-list>.history-item {
    text-align: center;
}

.history-content>.history-list>.history-item>img {
    width: 1rem;
    border: 1px solid #98365B;
    border-radius: 50%;
    margin-bottom: .1rem;
}

.history-content>.history-list>.history-item>p {
    width: 1.58rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
    font-size: .26rem;
}

.history-content>.pager {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.history-content>.pager>.btn-cover {
    width: 1.3rem;
    height: .4rem;
    box-sizing: border-box;
    padding: .02rem;
    border-radius: .2rem;
    background-image: -webkit-linear-gradient(#fd4489, #c92768);
    background-image: -moz-linear-gradient(#fd4489, #c92768);
    background-image: linear-gradient(#fd4489, #c92768);
}

.history-content>.pager>.btn-cover:first-child {
    margin-right: .3rem;
}

.history-content>.pager>.btn-cover>a {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: .2rem;
    background: #f57fba;
    font-size: .25rem;
    text-align: center;
    line-height: .22rem;
    color: #B3255D;
    line-height: .36rem;
    font-weight: 600;
}

.history>p {
    text-align: center;
}

.dialog {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}

.dialog>.word {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #BD1460;
    font-weight: 600;
    font-size: .3rem;
    line-height: 2.33rem;
    width: 5rem;
    text-align: center;
}

.dialog>p:last-child {
    text-align: center;
    display: none;
}

#prev {
    display: none;
}