$b: 1px solid red;
body {
  width: 100%;
  height: 100%;
  max-width: 7.5rem;
  margin: 0 auto;
  .container {
    width: 100%;
    height: 100%;
    max-width: 7.5rem;
    margin: 0 auto;
    .section {
      width: 100%;
      height: 100%;
    }
    .section1 {
      .top {
        width: 100%;
        // height: 5rem;
        padding-top: 1rem;
        box-sizing: border-box;

        // border: $b;
        .icon-flower {
          width: 100%;
          height: 0.44rem;
          text-align: center;
          vertical-align: top;
          span {
            display: inline-block;
            vertical-align: top;
            height: 0.44rem;
            background: url(../img/icon_ubrella.png) 0/100% no-repeat;
            width: 0.44rem;
          }
        }
        .text {
          width: 100%;
          font-size: 0.4rem;
          font-family: PingFang SC;
          font-weight: bold;
          line-height: 0.56rem;
          text-align: center;
          color: rgba(51, 51, 51, 1);
          margin-top: 0.3rem;
        }
      }
      .middle {
        margin-top: 1rem;
        div {
          position: relative;
          padding: 0 0.7rem 0 1.34rem;
          margin-top: 0.4rem;
          p {
            width: 100%;
            font-size: 0.26rem;
            font-family: PingFang SC;
            font-weight: 400;
            line-height: 0.44rem;
            color: rgba(51, 51, 51, 1);
          }
        }
        .text1 {
          span {
            position: absolute;
            top: 0.3rem;
            left: 0.5rem;
            height: 0.44rem;
            width: 0.44rem;
            background: url(../img/icon_time.png) 0/100% no-repeat;
          }
        }
        .text2 {
          span {
            position: absolute;
            top: 0.45rem;
            left: 0.5rem;
            height: 0.44rem;
            width: 0.44rem;
            background: url(../img/icon-flower.png) 0/100% no-repeat;
          }
        }
      }
      .bottom {
        margin-top: 3.34rem;
        padding-bottom: 1rem;
        .link {
          width: 100%;
          text-align: center;
          a {
            font-size: 0.22rem;
            font-family: PingFang SC;
            font-weight: 400;
            line-height: 0.32rem;
            color: rgba(194, 128, 255, 1);
          }
        }
        .btn {
          text-align: center;
          span {
            display: inline-block;
            width: 6.3rem;
            height: 0.8rem;
            font-size: 0.32rem;
            font-family: PingFang SC;
            font-weight: 400;
            line-height: 0.48rem;
            line-height: 0.8rem;
            color: rgba(255, 255, 255, 1);
            &.on {
              background: url(../img/bth_on.png) 0/100% no-repeat;
            }
            &.off {
              background: url(../img/bth_off.png) 0/100% no-repeat;
            }
          }
        }
      }
    }
    .section2 {
      .top {
        padding-top: 1.7rem;
        .title {
          font-size: 0.4rem;
          font-family: PingFang SC;
          font-weight: bold;
          line-height: 0.56rem;
          color: rgba(51, 51, 51, 1);
          text-align: center;
        }
      }
      .middle {
        margin-top: 0.8rem;
        padding: 0 1.28rem;
        .text {
          font-size: 0.26rem;
          font-family: PingFang SC;
          font-weight: 400;
          line-height: 0.44rem;
          color: rgba(51, 51, 51, 1);
        }
        .input-area {
          width: 100%;
          position: relative;
          text-align: center;
          margin-top: 0.66rem;
          .label {
            position: relative;
            display: inline-block;
            width: 0.6rem;
            height: 0.6rem;
            border-bottom: 0.02rem solid #000;
          }
          input {
            // display: inline-block;
            width: 0.6rem;
            height: 0.6rem;
            box-sizing: border-box;
            border-bottom:0.02rem solid #000;
            outline: none;
            text-align: center;
            font-size: 0.5rem;
            opacity: 0;
            vertical-align: top;
            
          }
          .dotted {
            position: absolute;
            width: 0.48rem;
            height: 0.48rem;
            top: 0rem;
            left: 0.08rem;;
            display: none;
            border-radius: 50%;
            background: #000;
          }
          // .dotted1 {
          //   left: 0.95rem;
          // }
          // .dotted2 {
          //   left: 1.82rem;
          // }
          // .dotted3 {
          //   left: 2.66rem;
          // }
          // .dotted4 {
          //   left: 3.51rem;
          // }
        }
      }
      .bottom {
        margin-top: 5.12rem;
        padding-bottom: 1rem;
        p {
          width: 100%;
          height: 0.8rem;
          text-align: center;
          span {
            display: inline-block;
            width: 0.8rem;
            height: 0.8rem;
            background: url(../img/btn_next_disable.png) 0 / contain no-repeat;
          }
        }
      }
    }
  }
}
